body{
  margin:0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(180deg,#0f0f0f,#000);
  color:white;
}

.container{
    max-width: 142rem;
    margin: 0 auto;
    padding: 0.6rem 3.4rem;
}

.card-heading{
    margin-bottom: 1.2rem;
    font-size: 2.2rem;
}

/* GRID */
.grid{
  display:grid;
  grid-template-columns:repeat(3,3fr);
  gap:30px;
  padding:50px;
  list-style:none;
}

/* CARD */
.movie-card{
  background:#111;
  border-radius:15px;
  overflow:hidden;
  transition:all 0.4s ease;
  box-shadow:0 5px 20px rgba(0,0,0,0.6);
  position:relative;
}

/* IMAGE */
.poster img{
  width:100%;
  height:300px;
  object-fit:cover;
  transition:transform 0.4s ease;
}

/* HOVER EFFECT */
.movie-card:hover{
  transform:translateY(-10px) scale(1.03);
  box-shadow:0 15px 40px rgba(0,0,0,0.9);
}

.movie-card:hover img{
  transform:scale(1.1);
}

/* INFO */
.movie-info{
  padding:15px;
}

.movie-info h2{
  font-size:20px;
  margin-bottom:5px;
}

.rating{
  color:#ffd700;
  margin-bottom:10px;
}

.summary{
  font-size:14px;
  color:#bbb;
  margin-bottom:10px;
}

/* BUTTON */
.watch-btn{
  margin-top:10px;
  padding:10px 18px;
  border:none;
  background:linear-gradient(45deg,#c5ba25,#fffb00);
  color:white;
  font-weight:600;
  border-radius:8px;
  cursor:pointer;
  transition:all 0.3s ease;
}

.watch-btn:hover{
  background:linear-gradient(45deg,#ff2e63,#ff004c);
  transform:scale(1.05);
}
